<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7c4ddd9a-0a3f-4daf-b0e1-c340a76c8a65/resourcegroups/CraigslistPracticeProject/providers/Microsoft.Web/sites/CraigslistPracticeProj</ResourceId>
    <ResourceGroup>CraigslistPracticeProject</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://craigslistpracticeproj.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>craigslistpracticeproj.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CraigslistPracticeProj</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CraigslistPracticeProj</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:craigslistpracticeprojdbserver.database.windows.net,1433;Initial Catalog=craigslistpracticeproj_db;User ID=curiosityoflife@126.com@craigslistpracticeprojdbserver;Password=!HighEndTesting3124!;Context Connection=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DB.Database.ApplicationDbContext, DB" MigrationConfiguration="DB.Migrations.Configuration, DB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:craigslistpracticeprojdbserver.database.windows.net,1433;Initial Catalog=craigslistpracticeproj_db;User ID=curiosityoflife@126.com@craigslistpracticeprojdbserver;Password=!HighEndTesting3124!;Context Connection=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>