<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/92b17b7e-85f5-4ac2-b0b0-0beefc730e0d/resourcegroups/FakeCraigslistResourceGroup/providers/Microsoft.Web/sites/FakeCraigslist</ResourceId>
    <ResourceGroup>FakeCraigslistResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fakecraigslist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fakecraigslist.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FakeCraigslist</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FakeCraigslist</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:fakecraigslistdbserver.database.windows.net,1433;Initial Catalog=fakecraigslistdb;User ID=jl8456@fakecraigslistdbserver;Password=Ljmljm123123!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DB.Database.ApplicationDbContext, DB" MigrationConfiguration="DB.Migrations.Configuration, DB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fakecraigslistdbserver.database.windows.net,1433;Initial Catalog=fakecraigslistdb;User ID=jl8456@fakecraigslistdbserver;Password=Ljmljm123123!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>